In [1]:
import charmpandas as pd
from charmpandas.interface import LocalCluster, CCSInterface

In [2]:
#cluster = LocalCluster(min_pes=2, max_pes=2, activity_timeout=20, odf=3)
cluster = CCSInterface("172.17.0.1", 1234)

In [3]:
pd.set_interface(cluster)

In [4]:
df_ids = pd.read_parquet("/home/adityapb1546/charm/charmpandas/examples/user_ids_large.parquet")

In [5]:
df_ages = pd.read_parquet("/home/adityapb1546/charm/charmpandas/examples/ages_large.parquet")

In [6]:
import time

start = time.time()
df_result = df_ages.join(df_ids, ["first_name", "last_name"])
df_result = df_result.groupby(["city"])["user_id"].count()
df_result.get()
print("Total time = %fs" % (time.time() - start))

Total time = 10.718802s

In [ ]:
df_result = df_result.groupby(["city"])["user_id"].count()

In [7]:
df_result.get()

        city  count(user_id)
0      C1854             447
1      C3233             458
2      C5687             415
3      C8435             389
4      C8118             450
...      ...             ...
9996    C511             410
9997   C6888             434
9998   C4501             462
9999   C8571             411
10000  C3178             457

[10001 rows x 2 columns]

In [ ]:
x = _

In [ ]:
x

In [ ]:
counts = x["count(user_id)"]

In [ ]:
sum(counts)