In [1]:
import charmpandas as pd
from charmpandas.interface import LocalCluster, CCSInterface

In [2]:
#cluster = LocalCluster(min_pes=2, max_pes=2, activity_timeout=20, odf=3)
cluster = CCSInterface("172.17.0.1", 1234)

In [3]:
pd.set_interface(cluster)

In [4]:
df_ids = pd.read_parquet("/home/adityapb1546/charm/charmpandas/examples/user_ids_large.parquet")

In [5]:
df_ages = pd.read_parquet("/home/adityapb1546/charm/charmpandas/examples/ages_large.parquet")

In [6]:
df_result = df_ages.join(df_ids, ["first_name", "last_name"])

In [7]:
df_result = df_result.groupby(["city"])["user_id"].count()

In [8]:
df_result.get()

        city  count(user_id)  local_index  home_partition
0      C2784             422            0               3
1      C1819             451            1               3
2      C2213             431            2               3
3      C9038             423            3               3
4      C9417             440            4               3
...      ...             ...          ...             ...
9996   C3296             439          624              12
9997   C4176             421          625              12
9998   C5312             412          626              12
9999   C7405             409          627              12
10000   C398             440          628              12

[10001 rows x 4 columns]

In [8]:
x = _

In [9]:
x

''

In [13]:
counts = x["count(user_id)"]

In [14]:
sum(counts)

1000000